
.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-award:before { content: '\e804'; } /* '' */
.icon-briefcase:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-attach:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */